<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>首页</title>
        <link rel="shortcut icon" th:href="@{/img/icon.png}" type="image/gif" />
        <script th:src="@{/plugin/jquery/jquery-3.1.1.min.js}"></script>
        <script th:src="@{/plugin/wangEditor/js/wangEditor-1.3.12.min.js}"></script>
        <script th:src="@{/js/utils/CommonUtils.js}"></script>
        <script th:src="@{/js/index/index.js}"></script>
    </head>
    <body>
    <div id="f">
        <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
    </div>

    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#f');
        // 或者 var editor = new E( document.getElementById('#editor') )
        editor.create()
    </script>
    </body>
</html>