<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>首页</title>
        <link rel="shortcut icon" th:href="@{/img/icon.png}" type="image/gif" />
        <link rel="stylesheet" type="text/css" href="/plugin/wangEditor/css/wangEditor.min.css"/>
    </head>
    <body>
        <div>
            <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
        </div>
        <textarea  name="page" id="editor"></textarea><br/>
    </body>

    <!--这些 js　的引入放在　body 后面,否则可能出错-->
    <script th:src="@{/plugin/wangEditor/js/lib/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/plugin/wangEditor/js/wangEditor.min.js}"></script>
    <script>
        // 获取元素
        var div = document.getElementById('editor');
        // 生成编辑器
        var editor = new wangEditor(div);
        editor.create();
    </script>
</html>